@(num: List[Int], queens: List[List[(Int, Int)]])

@main("n-queens problem") {
  
  <h1>@queens.size Solutions Found</h1>
  <a href="/" class="btn btn-inverse">Back</a>
  <hr/>
    @queens.map { solution =>
      <h3>Solution</h3>
      <div class="small">
        <table class="table table-bordered tables-striped">
          @num.map { yy => 
            <tr>
              @num.map { xx =>
                <td @if(solution.contains((yy,xx))){class=occupied}>&nbsp;</td> 
              }
            </tr>
          }
        </table>
      </div>
  }

}